.lang__link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .lang__link {
    font-size: 18px;
    line-height: 1.3;
  }
}
