.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .lead__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
