.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 400px;
    font-size: 55px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 424px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
}
