.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    padding: 48px 0 0;
    line-height: 14px;
  }
}

.footer__copyright:hover {
  opacity: .8;
  transition: .2s linear;
}
