.intro {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0 0 64px;
    max-width: auto;
  }
}
