.cover__overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 740px;
  max-width: 1184px;
  background-image: url('../../../images/cover__background.png');
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: #fff;
}

.cover__overlay::before {
  content: '';
  opacity: .3;
  position: absolute;
  background-color: #2A2C2F;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .2s linear;
}

.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    height: 200px;
  }
}
