.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 0 48px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 0 auto 0 16px;
  }
}
