.place__url-heading {
  margin: 0 0 9px 0;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 424px) {
  .place__url-heading {
    margin: 0 0 13px 16px;
    line-height: 12px;
  }
}
