.intro__title {
  max-width: 690px;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width:767px) {
  .intro__title {
    margin: 0 auto 40px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
